.news-card {
  width: 100%;
  height: auto;
  margin-top: 5px;
  padding:25px;
}

.wrapper {
  display: inline-block;
  height: 520px;
  width: 1200px;
  padding: 5px;
  margin: 5px;
  background: white;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-content {
  padding: 20px;
  height: 175px;
  width: 1150px;
}

.header-title-link {
    font-family: "TiemposHeadline-Medium",serif;
    font-size: 10px;
    font-size: 1.563em;
    text-decoration: none;
} 

a {
    color: #000;
    cursor: pointer;
}

li {
    list-style-type: none;
}