.news-card {
  width: auto;
  display: block;
  margin: 15px;
  padding:25px;  
  overflow: hidden;
}

.card-image {
	height: 35%;
}

img {
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.card-content {
	padding: 15px;
}

.header-title-link {
    font-family: "TiemposHeadline-Medium",serif;
    font-size: 10px;
    font-size: 1.563em;
    text-decoration: none;
} 

a {
    color: #000;
    cursor: pointer;
}

li {
    list-style-type: none;
}