<div *ngIf="isMobile; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
	<mat-grid-list class="mobile" [cols]="1" rowHeight="360px">
		<mat-grid-tile class="mobile" [rowspan]="1" [colspan]="1" *ngFor="let item of news">
			<app-news-small [news]="item"></app-news-small>
		</mat-grid-tile>
	</mat-grid-list>
</ng-template>
<ng-template #elseBlock>
	<mat-grid-list class="desktop" [cols]="12" rowHeight="360px" [gutterSize]="'30px'">
		<mat-grid-tile class="desktop" [rowspan]="2" [colspan]="12" *ngFor="let item of news | slice:0:1">
			<app-news-big class="news-component" [news]="item"></app-news-big>
		</mat-grid-tile>
		<mat-grid-tile [rowspan]="2" [colspan]="6" *ngFor="let item of news | slice:1:5">
			<app-news-medium class="news-component" [news]="item"></app-news-medium>
		</mat-grid-tile>
		<mat-grid-tile [rowspan]="2" [colspan]="4" *ngFor="let item of news | slice:5">
			<app-news-small class="news-component" [news]="item"></app-news-small>
		</mat-grid-tile>
	</mat-grid-list>	
</ng-template>



