.news-card {
  width: 100%;
  height: auto;
  margin-top: 5px;
  padding:25px;
}

.wrapper {
  display: inline-block;
  height: 300px;
  width: 500px;
  padding: 5px;
  margin: 5px;
  background: white;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-content {
  padding: 20px;
  height: 200px;
  width: 450px;
}

.header-title-link {
    font-family: "TiemposHeadline-Medium",serif;
    font-size: 10px;
    font-size: 1.110em;
    text-decoration: none;
}

a {
    color: #000;
    cursor: pointer;
}

mat-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  height: 300px;
}

li {
    list-style-type: none;
}